* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

img {
    width: 175px;
    border: 3px solid black;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.buttons {
    padding-top: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.infoArea {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 32px;
}

#info {
    display: flex;
    justify-content: center;
    width: 100%;
}

.scores {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    font-size: 24px;
    flex-wrap: wrap;
}

#playerScore {
    display: flex;
    justify-content: center;
    width: 100%;
}

#winNotification {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 64px;
}